body {
    margin: 0;
    padding: 0;
    background-color: rgb(200, 200, 200);
}

header {
    background-color: rgb(46, 46, 46);
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid rgb(7, 137, 177);
}

.logoemenu {
    display: flex;
}

.img-logo {
    width: 200px;
    margin: 10px 0px 0px 20px;
    height: 40px;
}

.menu-toggle {
    display: none;
    background-color: rgb(100, 100, 100);
    color: rgb(200, 200 , 200);
    height: 35px;
    margin-right: 10px;
}

.menu {
    font-family: Oswald;
    flex-direction: inline-block;
}

li:hover {
    background-color: rgb(70, 129, 180);
    left: auto;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
  }

li {
    list-style-type: none;
    display: inline-block;
    margin: 3px 20px 0px 0px;
    
}

.autenticacao {
    margin: 0px 10px 0px 0px;
    font-family: Oswald;
    padding: 3px 20px 0px 0px;
}

.autenticacao a {
    margin: 5px;
}
.botao-destaque {
    background-color: red;
    padding: 6px 20px 6px 20px;
    border-radius: 20px;
}

.menu-toggle-container {
    justify-content: end;
}

@media (max-width: 650px) {
    .menu { display : none }
    .menu-toggle { display : block}
    li { display : flex }
    .logo { justify-content: start }
    .menu-toggle {justify-content: end }
}

@media (max-width: 800px) {
    .autenticacao { display : none }
}

.menu-toggle {
    background-color: rgb(100, 100, 100);
    color: rgb(200, 200 , 200);
    margin: 10px;
    height: 35px;
}
